.Feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: max-content;
    text-align: center;
    margin: 1% auto 5%;
}
.FeedbackMessage {
    width: 80%;
    min-height: 50px;
    display: block;
    margin: 15px auto 15px;
    border: 1px solid blue;
    border-radius: 10px;
}
.FeedbackAuthor {
    margin: 5px;
    border: 2px solid blue;
    border-radius: 10px;
}
.FeedbackText {
    margin: 5px;
    border: 2px solid blue;
    border-radius: 10px;
}
.FeedbackButton {
    width: max-content;
    background-color: #002fff;
    border-radius: 15px;
    color: white;
    border: none;
}