@media  (min-width: 1441px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}
@media  (min-width: 1201px ) {

  .App {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 0;
    width: 1440px;
  }
}

@media  (min-width: 781px )  and (max-width: 1200px ) {
  .App {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 0;
    width: 1200px;
  }
}

@media  (min-width: 577px )  and (max-width: 780px ) {
  .App {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 0;
    width: 780px;
  }


}


@media (max-width: 576px ) {
  .App {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 0;
    width: 576px;
  }



}




